{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {%block style%}
    <link href="{% static 'index.css' %}" rel="stylesheet"/>
    {%endblock%}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Prompt:wght@200&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=IM+Fell+English+SC&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@1,200&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Prompt:wght@200&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
    
    <title>{%block title%}Main{%endblock%}</title>
</head>
<body>
    <nav class="navbar navbar-dark " style="background: rgba(0,0,0,0.25); font-family: 'IM Fell English SC', serif;">
        <div class="container-fluid">
          <img src="{% static 'Images' %}/oyo-p.png" style="width: 60px; height: 60px;" alt="">
          <div class="mx-auto">
          <a class="navbar-brand mx-0 " href="#" style="font-family: 'IM Fell English SC', serif; font-size:36px">Sanjunipero</a>       
          </div>
          
          <a class="nav-link ms-0" href="{% url 'player:logout' %} " style="color: aliceblue;">LogOut</a>
        
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarScroll">
            <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'player:artists' %}">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'player:creat_playlist' %}">Albums</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="">Songs</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'player:album-add' %}">Add Albums</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'player:signup' %}">Register</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'player:login' %}">Login</a>
              </li>
              
            <!-- <form class="d-flex" style="width: 450px;">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form> -->
          </div>
        </div>
      </nav>
{%block body%}   
{%endblock%}

<footer>
  <div class = "social-links">
    <a href = "#"><i class = "fab fa-facebook-f"></i></a>

    <a href = "#"><i class = "fab fa-twitter"></i></a>

    <a href = "#"><i class = "fab fa-instagram"></i></a>

    <a href = "#"><i class = "fab fa-pinterest"></i></a>
  </div>
  <span>OYU LIVE</span>
</footer>
</div>
</body>
</html>